# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Narasannapeta,IN,18.4167,84.0500,79.97,86,100,8.14,overcast clouds
1,1,Auki,SB,-8.7676,160.7034,76.98,88,6,3.31,clear sky
2,2,Brookhaven,US,31.5791,-90.4407,64.80,49,0,7.67,clear sky
3,3,Hermanus,ZA,-34.4187,19.2345,63.81,71,100,15.03,overcast clouds
4,4,Qinhuangdao,CN,39.9317,119.5883,68.20,83,0,5.86,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Narasannapeta,IN,18.4167,84.0500,79.97,86,100,8.14,overcast clouds
1,1,Auki,SB,-8.7676,160.7034,76.98,88,6,3.31,clear sky
6,6,Kahului,US,20.8947,-156.4700,79.84,74,100,5.99,overcast clouds
7,7,Ribeira Grande,PT,38.5167,-28.7000,73.80,56,75,4.61,broken clouds
9,9,Wukari,NG,7.8500,9.7833,84.65,66,98,2.75,overcast clouds
10,10,Nishihara,JP,26.1842,127.7558,80.65,83,75,2.30,broken clouds
15,15,Biankouma,CI,7.7391,-7.6138,78.76,80,38,1.92,moderate rain
17,17,Rikitea,PF,-23.1203,-134.9692,73.36,77,99,9.57,light rain
20,20,Daokou,CN,35.5639,114.5058,74.39,63,99,11.88,moderate rain
21,21,Mpongwe,ZM,-13.5091,28.1550,88.11,12,70,8.12,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Narasannapeta,IN,18.4167,84.0500,79.97,86,100,8.14,overcast clouds
1,1,Auki,SB,-8.7676,160.7034,76.98,88,6,3.31,clear sky
6,6,Kahului,US,20.8947,-156.4700,79.84,74,100,5.99,overcast clouds
7,7,Ribeira Grande,PT,38.5167,-28.7000,73.80,56,75,4.61,broken clouds
9,9,Wukari,NG,7.8500,9.7833,84.65,66,98,2.75,overcast clouds
10,10,Nishihara,JP,26.1842,127.7558,80.65,83,75,2.30,broken clouds
15,15,Biankouma,CI,7.7391,-7.6138,78.76,80,38,1.92,moderate rain
17,17,Rikitea,PF,-23.1203,-134.9692,73.36,77,99,9.57,light rain
20,20,Daokou,CN,35.5639,114.5058,74.39,63,99,11.88,moderate rain
21,21,Mpongwe,ZM,-13.5091,28.1550,88.11,12,70,8.12,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
0    Narasannapeta      IN     79.97     overcast clouds  18.4167   84.0500
1             Auki      SB     76.98           clear sky  -8.7676  160.7034
6          Kahului      US     79.84     overcast clouds  20.8947 -156.4700
7   Ribeira Grande      PT     73.80       broken clouds  38.5167  -28.7000
9           Wukari      NG     84.65     overcast clouds   7.8500    9.7833
10       Nishihara      JP     80.65       broken clouds  26.1842  127.7558
15       Biankouma      CI     78.76       moderate rain   7.7391   -7.6138
17         Rikitea      PF     73.36          light rain -23.1203 -134.9692
20          Daokou      CN     74.39       moderate rain  35.5639  114.5058
21         Mpongwe      ZM     88.11       broken clouds -13.5091   28.1550

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Narasannapeta,IN,79.97,overcast clouds,18.4167,84.0500,
1,Auki,SB,76.98,clear sky,-8.7676,160.7034,
6,Kahului,US,79.84,overcast clouds,20.8947,-156.4700,
7,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,
9,Wukari,NG,84.65,overcast clouds,7.8500,9.7833,
10,Nishihara,JP,80.65,broken clouds,26.1842,127.7558,
15,Biankouma,CI,78.76,moderate rain,7.7391,-7.6138,
17,Rikitea,PF,73.36,light rain,-23.1203,-134.9692,
20,Daokou,CN,74.39,moderate rain,35.5639,114.5058,
21,Mpongwe,ZM,88.11,broken clouds,-13.5091,28.1550,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Narasannapeta,IN,79.97,overcast clouds,18.4167,84.0500,AVK events and catering
1,Auki,SB,76.98,clear sky,-8.7676,160.7034,Auki Motel
6,Kahului,US,79.84,overcast clouds,20.8947,-156.4700,Maui Seaside Hotel
7,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
9,Wukari,NG,84.65,overcast clouds,7.8500,9.7833,Elimtop
10,Nishihara,JP,80.65,broken clouds,26.1842,127.7558,Minshuku Agaihama
15,Biankouma,CI,78.76,moderate rain,7.7391,-7.6138,NIMBO SAMA
17,Rikitea,PF,73.36,light rain,-23.1203,-134.9692,People ThankYou
20,Daokou,CN,74.39,moderate rain,35.5639,114.5058,Shangri-La Hotel
21,Mpongwe,ZM,88.11,broken clouds,-13.5091,28.1550,Casablanca guest house and bar

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Narasannapeta,IN,79.97,overcast clouds,18.4167,84.0500,AVK events and catering
1,Auki,SB,76.98,clear sky,-8.7676,160.7034,Auki Motel
6,Kahului,US,79.84,overcast clouds,20.8947,-156.4700,Maui Seaside Hotel
7,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,Quinta da Meia Eira
9,Wukari,NG,84.65,overcast clouds,7.8500,9.7833,Elimtop
10,Nishihara,JP,80.65,broken clouds,26.1842,127.7558,Minshuku Agaihama
15,Biankouma,CI,78.76,moderate rain,7.7391,-7.6138,NIMBO SAMA
17,Rikitea,PF,73.36,light rain,-23.1203,-134.9692,People ThankYou
20,Daokou,CN,74.39,moderate rain,35.5639,114.5058,Shangri-La Hotel
21,Mpongwe,ZM,88.11,broken clouds,-13.5091,28.1550,Casablanca guest house and bar

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [12]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [13]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [14]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>AVK events and catering</dd>\n<dt>City</dt><dd>Narasannapeta</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.97 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Auki Motel</dd>\n<dt>City</dt><dd>Auki</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.98 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.84 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.8 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Elimtop</dd>\n<dt>City</dt><dd>Wukari</dd>\n<dt>Country</dt><dd>NG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.65 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Minshuku Agaihama</dd>\n<dt>City</dt><dd>Nishihara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.65 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>NIMBO SAMA</dd>\n<dt>City</dt><dd>Biankouma</dd>\n<dt>Country</dt><dd>CI</dd>\n<dt>Current Weather</dt><dd>moderate rain and 78.76 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 73.36 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shangri-La Hotel</dd>\n<dt>City</dt><dd>Daokou</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>moderate rain and 74.39 F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casablanca guest house and bar</dd>\n<dt>City</dt><dd>Mpongwe</dd>\n<dt>Country</dt><dd>ZM</dd>\n<dt>Current Weather</dt><dd>broken clouds and 88.11 F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [15]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   18.4167   84.0500
1   -8.7676  160.7034
6   20.8947 -156.4700
7   38.5167  -28.7000
9    7.8500    9.7833
10  26.1842  127.7558
15   7.7391   -7.6138
17 -23.1203 -134.9692
20  35.5639  114.5058
21 -13.5091   28.1550

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))